    body {
      margin: 0;
      padding: 0;
      font-family: "georgia", cursive;
    }

    #homeScreen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #b5eaff;
    }

    #canvas {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      cursor: crosshair;
    }

    #controls {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      background-color: #e3e3e3;
      z-index: 1;
    }

    #controls select,
    #controls input {
      margin: 0 10px;
    }

    #controls label {
      font-size: 14px;
      font-weight: bold;
    }
    body {
      margin: 0;
      padding: 0;
      font-family: "georgia", cursive;
    }

    #homeScreen {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #b5eaff;
    }

    #loginContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

    #loginContainer input {
      margin-bottom: 10px;
      padding: 5px;
      width: 200px;
    }

    #canvas {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgb(255, 255, 255);
      cursor: crosshair;
    }

    #controls {
      display: none;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      height: 60px;
      background-color: #e3e3e3;
      z-index: 1;
    }

    #controls select,
    #controls input {
      margin: 0 10px;
    }

    #controls label {
      font-size: 14px;
      font-weight: bold;
    }

    #controls button {
      margin: 0 5px;
    }